target: modules.train_lumina.setup
adaptive_loss_weight: True
name: test-run
lightning:
  precision: "bf16-true"
  accelerator: "auto"
  devices: "auto"
  strategy: "ddp_find_unused_parameters_true"

trainer:
  model_path: ""
  resolution: 256
  batch_size: 1
  checkpoint_dir: "checkpoints/lumina_gradient"
  save_every: 1000
  grad_clip: 1.0
  max_steps: 800000
  seed: 42
  wandb_id: "Lumina_test"
  accumulate_grad_batches: 1
  gradient_clip_val: 1.0
  checkpoint_steps: 2000
  checkpoint_freq: 1
  save_weights_only: false
  max_epochs: -1
  auto_resume: true
  checkpointing: true


model:
  vae_path: "REPA-E/e2e-invae-hf"
  tokenizer_path: "unsloth/gemma-3-1b-pt"
  text_encoder_path: "unsloth/gemma-3-1b-pt"




dataset:
  name: "data.gradient.TagImageIterableDataset"
 # image_size: 256
  dataset_path: "/root/ChatError/Dan_dataset"
  batch_size: 16

optimizer:
  name: "timm.optim.Muon"
  params:
    lr: 0.005
    weight_decay: 0.01

scheduler:
  name: "torch.optim.lr_scheduler.CosineAnnealingLR"
  params:
    T_max: 800000

advanced:
  train_text_encoder: False
  snr_type: "lognorm"
  no_shift: true
  use_ema: true


sampling:
  enabled: True
  every_n_steps: 1000
  every_n_epochs: 1
  prompts:
    - "1girl"
    - "1girl solo masterpiece best_quality school_uniform seifuku brown_hair medium_hair smiling outdoors park blue_sky day"
    - "1girl solo fantasy silver_hair long_hair red_eyes pointy_ears elf armor holding_sword standing castle cinematic_lighting"
    - "1girl solo casual blonde_hair ponytail glasses sweater skirt sitting cafe drinking_coffee indoors window rain"
    - "1girl solo sci-fi pink_hair twintails cyberpunk neon_city jacket headphones looking_at_viewer night street"
    - "1girl solo portrait close-up black_hair short_hair freckles serene_expression simple_background light_particles watercolor_(style)"
    - "1girl solo witch witch_hat purple_hair long_dress holding_staff magical enchanting_forest full_moon night"
    - "1girl solo full_body white_dress straw_hat running field_of_flowers summer day from_side"

  use_wandb: true
  save_dir: "samples/lumina_gradient"
  seed: 42